.hero--container{
  height: max-content;
  background-image: url("../../assets/images/flamingo-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: -28vw ;
  background-position-y: -15vh ;
  background-color: var(--main-bg-color);
  color: var(--primary-font-color);
}

.hero-wrap{
  display: flex;
  max-width: 100%;
  width: 65%;
  height: fit-content;
  margin: 5rem auto 0 auto;
  padding-bottom: 4rem;
  gap: 100px;
}

.hero-wrap__subtitle{
  text-transform: uppercase;
  color: var(--theme-font-color);
  font-weight: 500;
  font-size: 1.03rem;
}

.hero-wrap__title{
  font-size: 5.2rem;
  max-width: 50%;
  margin-top: 1rem;
  font-weight: 800;
}

.hero-wrap--btn{
  max-width: fit-content;
  max-height: 5rem;
  padding: 1.7rem 2.1rem;
  background: transparent;
  color: var(--theme-font-color);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: 2px solid var(--theme-font-color);
  transition: 1s ease-out;
}

.hero-wrap--btn:hover{
  cursor: pointer;
  background-color: var(--theme-font-color);
  color:var(--primary-font-color);
  font-weight: 600;
  transition: 1s ease-in;
}

.hero--wrap__containers{
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding-top: 5rem;
  flex-flow: nowrap;
}

.hero-box{
  justify-content: space-evenly;
  position: relative;
  min-height:20rem;
  height: fit-content;
  max-width: 22rem;
  width: fit-content;
  background-color: var(--box-primary-color);
  width: 80%;
  padding: 0 1rem;
  letter-spacing: 0.5px;
}

.box-active{
  border: 2px solid var(--theme-font-color);
}

.hero-box.box-active::before{
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 2.6rem;
  bottom: -2.6rem;
  left: 50%;
  background-color: var(--theme-font-color);
}

.hero__box-icon{
  font-size: 4rem;
  padding: 2rem 1.5rem;
  color: var(--theme-font-color);
}

.hero__box-title{
  padding: 0 1.6rem;
  letter-spacing: 1px;
  font-size: 1.65rem;
  position: relative;
}

.hero__box-title::after{
  content:"";
  position: absolute;
  bottom: -1.5rem;
  left: 1.65rem;
  width: 4rem;
  height: 3px;
  background-color: var(--theme-font-color);
}

.hero__box-content{
  padding: 1.65rem 1.65rem;
  line-height: 1.65rem;
}

/* Laptop styling media queries */
@media screen and (min-width: 769px)  and (max-width: 1280px)  {
  .hero--container{
    background-position-x: -53vw ;
  }

  .hero-wrap{
    width: 80%;
  }
  
  .hero-wrap__subtitle{
    text-transform: uppercase;
    color: var(--theme-font-color);
    font-size: 1.03rem;
  }
  .hero-wrap__title{
    font-size: 5rem;
    max-width: 80%;
  }

  .hero--wrap__containers{
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding-top: 5rem;
    flex-flow: nowrap;
  }

  .hero-box{
    position: relative;
    height: fit-content;
    min-height: 28rem;

    max-width: fit-content;
    background-color: var(--box-primary-color);
    width: 100%;
    padding: 0 1rem;
    letter-spacing: 0.5px;
  }
}

/* Tablet styling media queries */
@media screen and (min-width: 375px) and (max-width: 768px)  {
  .hero--container{
    background-position-x: -103vw ;
  }
  .hero__box-icon{
    font-size: 6rem;
  }

  .hero-wrap__title{
    font-size: 5rem;
    max-width: 100%;
  }

  .flex-column{
    justify-content: center;
    align-items: center;
  }

  .hero-wrap__title{
    text-align: center;
    width: 100%;
  }
  
  .hero-box{
    position: relative;
    height: fit-content;
    max-width: fit-content;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 1rem;
    margin: 1rem 0;
    letter-spacing: 0.5px;
  }
  .hero--wrap__containers{
    justify-content: center;
    flex-flow: wrap;
  }
}


/* Mobile styling media queries */
@media screen and (max-width: 375px)  {
  .hero-wrap__subtitle{
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    color: var(--theme-font-color);
    font-size: 1.03rem;
  }

  .hero__box-icon{
    font-size: 4rem;
  }

    .hero-wrap{
      width: 80%;
    }

  .hero--wrap__containers{
    justify-content: center;
    flex-flow: wrap;
  }

  .hero-box{
    position: relative;
    height: fit-content;
    max-width: fit-content;
    background-color: var(--box-primary-color);
    width: 100%;
    padding: 0 1rem;
    letter-spacing: 0.5px;
  }

  .hero__box-title{
    font-size: 1.3rem;
  }

}