.about-container{
  display: grid;
  width: 90%;
  justify-content: center;
  margin: auto;
  grid-template-areas: 
  "nav b"
  "nav c"
  "d d"
  ;
  gap: 20px;
  grid-template-rows: 300px 300px 230px  ;
  grid-template-columns: 50% 50%  ;
}

.about-main{
  grid-area: nav;
  background-image: url("../../assets/images/about-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-blend-mode: multiply;
  background-color: rgb(194, 190, 190);
  background-position-x: 45%;
  height: 100%;
  position: relative;
}

.about-side--a{
  grid-area: b;
  background-image: url("../../assets/images/about-side-a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-blend-mode: multiply;
  background-color: rgb(194, 190, 190);
  background-position-x: 45%;
  height: 100%;
  position: relative;
}

.about-side--b{
  grid-area: c;
  background-image: url("../../assets/images/about-side-b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-blend-mode: multiply;
  background-color: rgb(194, 190, 190);
  background-position-x: 45%;
  height: 100%;
  position: relative;

}

.about-option__title{
  font-size: 20px;
  font-weight: 600;
  padding: 7px 0px;
}
.about-option__desc{
  font-size: 17px;
  padding: 7px 0px;
}

.about-option--wrap{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.2rem;
  letter-spacing: 0.4px;
}


.about-flex--group{
  grid-area: d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.about-content--box{
  padding: 1rem 2rem;
  position: relative;
}

.about-content--box:nth-child(2)::before{
  content: "";
  width: 3px;
  position: absolute;
  top: 2rem;
  height: calc(100% - 4rem);
  left: 0rem;
  background-color: var(--theme-font-color);
}

.about-content--content{
  font-size: 16px;
  color:var(--secondray-font-color);
  letter-spacing: 1px;
}

.about-content--title{
  font-size: 24px;
}

.about-content--box:nth-child(2)::after{
  content: "";
  width: 3px;
  position: absolute;
  height: calc(100% - 4rem);
  right: 0;
  top: 2rem;
  background-color: var(--theme-font-color);
}


/* Tablet screens */
@media screen and (min-width: 375px) and (max-width: 768px)  {
  .about-container{
    display: grid;
    width: 100%;
    justify-content: center;
    margin: auto;
    grid-template-areas: 
    "nav nav"
    "b c"
    "d d"
  
    ;
    grid-template-rows: 300px 300px min-content   ;
    grid-template-columns: calc(50vw - 20px) calc(50vw - 20px)   ;
  }

  .about-flex--group{
    flex-direction: column;
    padding: 0 5rem;
  }
}

/* Mobile styling media queries */
@media screen and (max-width: 375px)  {
  .about-container{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "b b"
    "c c"
    "d d"
    ;
    gap: 20px;
    grid-template-rows: 300px 300px 300px fit-content ;
    grid-template-columns: 50vw 50%  ;
  }

  .about-content--box{
    padding: 0;
    text-align: center;
  }
  .about-content--title{
    font-size: 25px;
  }


  .about-content--box:nth-child(2)::after{
    content: none
  }

  .about-content--box:nth-child(2)::before{
    content: none
  }

  .about-flex--group{
    grid-area: d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
  }
}

/* Laptop styling media queries */
@media screen and (min-width: 769px)  and (max-width: 1280px)  {
  .about-container{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "b c"
    "d d"
    ;
    gap: 20px;
    width: 100%;
    grid-template-rows: 300px 300px fit-content ;
    grid-template-columns: 50% 50%  ;
    padding: 1rem 0;
  }
  
  .about-content--box{
    padding: 0rem 1.5rem;
  }
  .about-flex--group{
    padding: 3rem 0;
  }
}