.testimonials{
  display: flex;
  position: absolute;
  top: calc(5rem + 5rem + 3rem + 1.1rem + 37px + 5rem);
  width: 100%;
  min-width: 100%;
  left: 0;
  justify-content: space-evenly;
}

.testimonial-height{
  height:40rem;
}
.active-dot{
  color:var(--theme-font-color);
  font-size: 3rem;
}


.testimonials--dots{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  left: 0;
  color:var(--theme-secondary-font-color);
  font-size: 2rem;
}

.testimonial-box{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 95%;
  margin: auto;
  min-height: 300px;
  max-width: 450px;
  border: 1px solid var(--secondray-box-color);
  position: relative;
  padding: 1rem 3rem ;
  justify-content: center;
  align-items: center;
}


.testimonial-box--profile__pic{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 30%);
}

.testimonial-box--icon{
  font-size: 4rem;
  color: var(--theme-font-color);
}

.testimonial-box--profile__pic > img{
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.testimonial-box--content{
  text-align: center;
  font-size: 1rem;
  line-height: 1.75rem;
}

.testimonial-box--stars{
  color: var(--theme-font-color);
  display: flex;
  gap: 6px;
  font-size: 22px;
  padding-top: 1rem;
  padding-bottom: 4rem;
}


.testimonial-box--name{
  text-align: center;
  font-size: 22px;
  letter-spacing: 0-7px;
  font-weight: 600;
}
.testimonial-box--job__title{
  text-align: center;
  font-size: 0.9rem;
  padding: 0.3rem 0;
}

.flex-gap-3{
  gap: 2.5rem;
}